// styles pour contact

.contact{
    background-color:red;
}
.titrecontact{
    letter-spacing: 1em;
    margin-top: 50px;
    margin-left:350px;
    margin-right:350px;
    font-size: 2.5em;
    text-align: center;
    background-color: black;
    border-radius: 50px;
    padding:0 20px;
}
.formulaire{
    width: 50%;
    margin: auto;
    
}
h3{
    font-family:"Shadows Into Light";
    font-style: bold;
}
hr{
    width:1px;
    height: 700px;
    background-color: black;
}
.formulaireconnection{
    margin-top: 85px;
}